@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  word-break: keep-all;
  /* outline: 1px dashed lime; */
}

.inner {
  width: calc(100vw - 480px);
  margin: 0 auto;
}

.container {
  width: calc(100vw - 480px);
  margin: 0 auto;
  display: flex;
}


/* header */
.header {
  background: #1e2023;
  line-height: 90px;
  color: azure;
}

.header .container {
  justify-content: space-between;
}

.header .container h1 {
  width: 200px;
}

.header .container .gnb ul {
  display: flex;
  gap: 30px;
  font-size: 17px;
  font-weight: 600;
}

.header .mopen {
  display: none;
}


/* main_visual */
.main_visual {
  position: relative;
  margin: 0 0 100px 0;
}

.main_visual .main_slider figure {
  position: relative;
  height: calc(100vh - 120px);
}

.main_visual .main_slider .itm01 {
  background: url(../img/main_slide01.png) no-repeat bottom center/cover;
}

.main_visual .main_slider .itm02 {
  background: url(../img/main_slide02.png) no-repeat bottom center/cover;
}

.main_visual .main_slider .itm03 {
  background: url(../img/main_slide03.png) no-repeat bottom center/cover;
}

.main_visual .main_slider .itm04 {
  background: url(../img/main_slide04.png) no-repeat bottom center/cover;
}

.main_visual .main_slider .inner {
  position: absolute;
  inset: 20% auto auto 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.main_visual .main_slider .inner h2 {
  font-size: 80px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 0 0 15px 0;
}

.main_visual .main_slider .inner p {
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

/* .main_visual .main_slider .inner a { display: inline-block; padding: 10px 40px; background: transparent; border: 1px solid #333; } 

.main_visual .main_slider .slick-dots { position: absolute; inset: auto auto 50px 50%; transform: translateX(-50%); } 

.main_visual .main_slider .slick-dots li { display: inline-block; } 

.main_visual .main_slider .slick-dots button { outline: none; border: 1px solid #fff; border-radius: 50px; width: 15px; height: 15px; margin: 10px; font-size: 0; background-color: transparent; cursor: pointer; } 

.main_visual .main_slider .slick-dots li.slick-activebutton { background: #fff; } */


/* product */
.product {
  margin: 0 0 100px 0;
  color: #1e2023;
}

.product .container {
  gap: 30px;
}

.product .container img {
  display: block;
  margin: auto 0 0 auto;
}

.product .container .txt {
  display: inline-block;
  padding-top: 50px;
  padding-left: 50px;
}

.product .container .txt h2 {
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product .container .txt p {
  font-size: 15px;
  font-weight: 500;
}

.product .container .inn {
  display: flex;
}

.product .container .left {
  position: relative;
  display: flex;
  background: #f5f5f5;
  flex: 2;
}

.product .container .left img {
  display: block;
  position: absolute;
  width: 65%;
  bottom: 0;
  right: 0;
}

.product .container .right img {
  display: block;
  width: 230px;
}

.product .container .right .cleaner {
  background: #f5f5f5;
  margin-bottom: 30px;
}

.product .container .right .air {
  background: #f5f5f5;
}

/* popular */
.popular {
  background: #f5f5f5;
  text-align: center;
  color: #1e2023;
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.popular h2 {
  padding: 100px 0 50px 0;
  font-size: 31px;
  font-weight: 700;
}

.popular figure {
  width: 400px;
}

.popular figure h3 {
  margin: 0 0 10px 0;
  font-size: 17px;
  font-weight: 700;
}

.popular figure p {
  font-size: 15px;
  font-weight: 500;
}

.popular .item {
  width: calc(100vw - 160px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

/* intro */
.intro {
  color: #1e2023;
}

.intro .inner {
  margin-bottom: 150px;
}

.intro .inner h2 {
  text-align: center;
  font-size: 31px;
  font-weight: 700;
  margin: 0 0 50px 0;
}

.intro .inner p {
  font-size: 13px;
  font-weight: 300;
  line-height: 25px;
}

.intro .inner p:nth-of-type(1) {
  margin: 0 0 25px 0;
}

.intro .inner .news_img {
  display: flex;
  gap: 30px;
}

.intro .inner .news_img img {
  margin-bottom: 30px;
}

.intro .inner .news_img img:hover {
  filter: brightness(0.85);
}

.intro .inner .news_img span {
  display: inline-block;
  font-size: 11px;
  font-weight: 300;
  color: #666;
  margin: 0 0 15px 0;
}

.intro .inner .news_img h3 {
  font-size: 17px;
  font-weight: 500;
}


/* text */
.text {
  margin-bottom: 50px;
  text-align: center;
  color: #1e2023;
}

.text h2 {
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 15px;
}

.text h2::after {
  content: "";
  display: block;
  background: #1e2023;
  width: 100px;
  height: 2px;
  margin: 20px auto;
}

.text p {
  font-size: 15px;
  line-height: 20px;
}


/* recipe */
.recipe {
  position: relative;
  margin: 0 0 100px 0;
  text-align: center;
}

.recipe .recipe_slider {
  margin-bottom: 50px;
}

.recipe .recipe_slider figure {
  position: relative;
  cursor: pointer;
}

.recipe .arrows {
  cursor: pointer;
}

.recipe .arrows i {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
  background-color: #1e2023;
  opacity: 0.35;
  border-radius: 50%;
}

.recipe .arrows i:hover {
  opacity: 0.7;
}

.recipe .arrows i:nth-child(1) {
  margin: 0 0 0 -800px;
}

.recipe .arrows i:nth-child(2) {
  margin: 0 0 0 800px;
}

.recipe .btn {
  display: inline-block;
  text-align: center;
  border: 1px solid #1e2023;
  padding: 15px 50px;
  border-radius: 22px;
  transition: 0.4s;
  font-size: 15px;
  text-align: center;
}

.recipe .btn:hover {
  background-color: #1e2023;
  color: azure;
}


/* newsletter */
.newsletter figure {
  position: relative;
  color: azure;
  text-align: center;
  height: 350px;
}

.newsletter figure .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newsletter figure .inner strong {
  display: block;
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.newsletter figure .inner p {
  display: block;
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 35px 0;
}

.newsletter figure .inner .input label {
  margin-right: 8px;
}

.newsletter figure .inner .input .input_row {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #fff;
}

.newsletter figure .inner button {
  display: inline-block;
  margin-left: 15px;
  border: 1px solid azure;
  padding: 10px 15px;
  border-radius: 22px;
  transition: 0.4s;
  font-size: 15px;
  text-align: center;
  background: transparent;
  cursor: pointer;
}

.newsletter figure .inner button:hover {
  background-color: azure;
  color: azure;
}

.newsletter figure .inner button i {
  font-size: 20px;
  color: #666;
}

.newsletter figure::before {
  content: "";
  position: absolute;
  background: url(../img/news11.jpg) no-repeat center center/cover;
  filter: brightness(0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


/* footer */
.footer {
  background-color: #1e2023;
  color: azure;
}

.footer .top_footer {
  background-color: #404040;
  color: azure;
  line-height: 50px;
}

.footer .top_footer .inner {
  display: flex;
  justify-content: space-between;
}

.footer .top_footer .inner .fnb {
  display: flex;
  gap: 25px;
  font-size: 15px;
}

.footer .top_footer .inner .sns {
  display: flex;
  gap: 20px;
  font-size: 21px;
}

.footer .mid_footer .inner {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer .mid_footer .inner .f_logo {
  font-size: 12px;
  font-weight: 300;
}

.footer .mid_footer .inner .f_logo a {
  display: block;
}

.footer .mid_footer .inner .f_logo a img {
  width: 180px;
  margin: 0 0 15px 0;
}

.footer .mid_footer .inner .whole {
  display: flex;
}

.footer .mid_footer .inner .whole .middle {
  margin-left: 100px;
}

.footer .mid_footer .inner .whole .middle .big {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 22px;
}

.footer .mid_footer .inner .whole .middle .list li {
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
}




/* 반응형 */

@media (max-width: 768px) {
  * {
    font-family: "Poppins", sans-serif;
    word-break: keep-all;
    /* outline: 1px dashed lime; */
  }

  .Wrap {
    overflow-x: hidden;
  }

  /* header */
  .header {
    background: #1e2023;
    line-height: 70px;
    color: azure;
  }

  .header .container {
    justify-content: space-between;
  }

  .header .container h1 {
    width: 200px;
  }

  .header .container .gnb ul {
    display: flex;
    gap: 30px;
    font-size: 17px;
    font-weight: 600;
    display: none;
  }

  .header .mopen {
    display: block;
    color: #fff;
    position: fixed;
    top: 45px;
    right: 15px;
    z-index: 9999;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
  }

  /* main_visual */
  .main_visual {
    position: relative;
    margin: 0 0 100px 0;
  }

  .main_visual .main_slider figure {
    position: relative;
    width: auto;
    height: 80vh;
  }

  .main_visual .main_slider .itm01 {
    background: url(../img/main_slide01.png) no-repeat bottom center/cover;
  }

  .main_visual .main_slider .itm02 {
    background: url(../img/main_slide02.png) no-repeat bottom center/cover;
  }

  .main_visual .main_slider .itm03 {
    background: url(../img/main_slide03.png) no-repeat bottom center/cover;
  }

  .main_visual .main_slider .itm04 {
    background: url(../img/main_slide04.png) no-repeat bottom center/cover;
  }

  .main_visual .main_slider .inner {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
  }

  .main_visual .main_slider .inner h2 {
    font-size: 80px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin: 0 0 15px 0;
  }

  .main_visual .main_slider .inner p {
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 30px 0;
  }




  /* product */
  .product {
    margin: 0 0 100px 0;
    color: #1e2023;
  }

  .product .container {
    gap: 30px;
  }

  .product .container img {
    display: block;
    margin: auto 0 0 auto;
  }

  .product .container .txt {
    display: inline-block;
    padding-top: 50px;
    padding-left: 50px;
  }

  .product .container .txt h2 {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .product .container .txt p {
    font-size: 15px;
    font-weight: 500;
  }

  .product .container .inn {
    display: flex;
  }

  .product .container .left {
    position: relative;
    display: flex;
    background: #f5f5f5;
    flex: 2;
  }

  .product .container .left img {
    display: block;
    position: absolute;
    width: 65%;
    bottom: 0;
    right: 0;
  }

  .product .container .right img {
    display: block;
    width: 230px;
  }

  .product .container .right .cleaner {
    background: #f5f5f5;
    margin-bottom: 30px;
  }

  .product .container .right .air {
    background: #f5f5f5;
  }

  /* popular */
  .popular {
    background: #f5f5f5;
    text-align: center;
    color: #1e2023;
    margin-bottom: 100px;
    padding-bottom: 100px;
  }

  .popular h2 {
    padding: 100px 0 50px 0;
    font-size: 31px;
    font-weight: 700;
  }

  .popular figure {
    width: 400px;
  }

  .popular figure h3 {
    margin: 0 0 10px 0;
    font-size: 17px;
    font-weight: 700;
  }

  .popular figure p {
    font-size: 15px;
    font-weight: 500;
  }

  .popular .item {
    width: calc(100vw - 160px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
  }

  /* intro */
  .intro {
    color: #1e2023;
  }

  .intro .inner {
    margin-bottom: 150px;
  }

  .intro .inner h2 {
    text-align: center;
    font-size: 31px;
    font-weight: 700;
    margin: 0 0 50px 0;
  }

  .intro .inner p {
    font-size: 13px;
    font-weight: 300;
    line-height: 25px;
  }

  .intro .inner p:nth-of-type(1) {
    margin: 0 0 25px 0;
  }

  .intro .inner .news_img {
    display: flex;
    gap: 30px;
  }

  .intro .inner .news_img img {
    margin-bottom: 30px;
  }

  .intro .inner .news_img img:hover {
    filter: brightness(0.85);
  }

  .intro .inner .news_img span {
    display: inline-block;
    font-size: 11px;
    font-weight: 300;
    color: #666;
    margin: 0 0 15px 0;
  }

  .intro .inner .news_img h3 {
    font-size: 17px;
    font-weight: 500;
  }


  /* text */
  .text {
    margin-bottom: 50px;
    text-align: center;
    color: #1e2023;
  }

  .text h2 {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .text h2::after {
    content: "";
    display: block;
    background: #1e2023;
    width: 100px;
    height: 2px;
    margin: 20px auto;
  }

  .text p {
    font-size: 15px;
    line-height: 20px;
  }


  /* recipe */
  .recipe {
    position: relative;
    margin: 0 0 100px 0;
    text-align: center;
  }

  .recipe .recipe_slider {
    margin-bottom: 50px;
  }

  .recipe .recipe_slider figure {
    position: relative;
    cursor: pointer;
    width: 100%;
  }

  .recipe .recipe_slider figure img {
    width: 250px;
  }

  .recipe .arrows {
    cursor: pointer;
  }

  .recipe .arrows i {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    background-color: #1e2023;
    opacity: 0.35;
    border-radius: 50%;
  }

  .recipe .arrows i:hover {
    opacity: 0.7;
  }

  .recipe .arrows i:nth-child(1) {
    margin: 0 0 0 -100px;
  }

  .recipe .arrows i:nth-child(2) {
    margin: 0 0 0 100px;
  }

  .recipe .btn {
    display: inline-block;
    text-align: center;
    border: 1px solid #1e2023;
    padding: 15px 50px;
    border-radius: 22px;
    transition: 0.4s;
    font-size: 15px;
    text-align: center;
  }

  .recipe .btn:hover {
    background-color: #1e2023;
    color: azure;
  }


  /* newsletter */
  .newsletter figure {
    position: relative;
    color: azure;
    text-align: center;
    height: 350px;
  }

  .newsletter figure .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .newsletter figure .inner strong {
    display: block;
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 15px 0;
  }

  .newsletter figure .inner p {
    display: block;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 35px 0;
  }

  .newsletter figure .inner .input label {
    margin-right: 8px;
  }

  .newsletter figure .inner .input .input_row {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #fff;
  }

  .newsletter figure .inner button {
    display: inline-block;
    margin-left: 15px;
    border: 1px solid azure;
    padding: 10px 15px;
    border-radius: 22px;
    transition: 0.4s;
    font-size: 15px;
    text-align: center;
    background: transparent;
    cursor: pointer;
  }

  .newsletter figure .inner button:hover {
    background-color: azure;
    color: azure;
  }

  .newsletter figure .inner button i {
    font-size: 20px;
    color: #666;
  }

  .newsletter figure::before {
    content: "";
    position: absolute;
    background: url(../img/news11.jpg) no-repeat center center/cover;
    filter: brightness(0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }










  /* footer */
  .footer {
    background-color: #1e2023;
    color: azure;
  }

  .footer .inner {
    left: 80px;
    right: 80px;
    width: auto;
    margin: 0 15px;
  }

  .footer .top_footer {
    display: inline-block;
    background-color: #404040;
    color: azure;
    line-height: 50px;
    align-items: center;
    text-align: center;
  }

  .footer .top_footer .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer .top_footer .inner .fnb {
    display: flex;
    gap: 15px;
    font-size: 15px;
    text-align: center;
  }

  .footer .top_footer .inner .sns {
    display: flex;
    gap: 20px;
    font-size: 21px;
  }

  .footer .mid_footer .inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    ;
    /* padding-top: 50px; padding-bottom: 50px; */
  }

  .footer .mid_footer .inner .f_logo {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 300;
  }

  .footer .mid_footer .inner .f_logo a {
    display: block;
  }

  .footer .mid_footer .inner .f_logo a img {
    width: 180px;
    margin: 0 0 15px 0;
  }



  .footer .mid_footer .inner .whole .middle {
    display: none;
  }
}