@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1,900&display=swap'); 

*{ 
    font-family: 'Montserrat', sans-serif; 
    /* outline: .0625rem dashed #33ff33;  */
} 
.container { display: flex; width: 1200px; margin: 0 auto; } 

.header { width: 100%; height: 70px; background-color: #000; } 
.header_con { display: flex; justify-content: space-between; width: 1200px; margin: 0 auto; color: #fff; vertical-align: middle; padding-top: 20px; } 
.header_con nav ul { display: flex; gap: 30px; line-height: 30px; font-size: 17px; font-weight: 600; } 
.header_con h1 { width: 200px; } 

.main_visual { position: relative; margin: 0 0 100px 0; } 
.main_visual .main_slider figure { position: relative; height: 900px; } 
.main_visual .main_slider .itm01 { background: url(../img/main_slide01.png) no-repeat bottom center/cover; } 
.main_visual .main_slider .itm02 { background: url(../img/main_slide03_.png) no-repeat center center/cover; } 
.main_visual .main_slider .itm03 { background: url(../img/main_slider04_.png) no-repeat bottom center/cover; } 
.main_visual .main_slider .itm04 { background: url(../img/main_slide05_.png) no-repeat center center/cover; } 

.main_visual .main_slider .inner { position: absolute; inset: 20% auto auto 50%; transform: translate(-50%, -50%); color: #fff; text-align: center; } 

.main_visual .main_slider .inner h2 { font-size: 80px; font-weight: 700; margin: 0 0 15px 0; } 
.main_visual .main_slider .inner p { font-size: 40px; font-weight: 500; margin: 0 0 30px 0; } 
.main_visual .main_slider .inner a { display: inline-block; padding: 10px 40px; background: transparent; border: 1px solid #333; } 

.main_visual .main_slider .slick-dots { position: absolute; inset: auto auto 50px 50%; transform: translateX(-50%); } 
.main_visual .main_slider .slick-dots li { display: inline-block; } 
.main_visual .main_slider .slick-dots button { outline: none; border: 1px solid #666; border-radius: 50px; width: 15px; height: 15px; margin: 0 10px; font-size: 0; background-color: transparent; cursor: pointer; } 
.main_visual .main_slider .slick-dots li.slick-active button { background: #666; } 

.product {margin: 0 0 150px 0;}
.main_product {width: 1200px; margin: 0 auto; background: #f5f5f5; display: flex;}









.video { margin: 0 auto; width: 1200px; } 
.video video { margin: 0 0 150px 0; width: 1200px;} 


.recipe { margin: 0 0 100px 0; } 
.recipe figure img { width: 100%; height:500px; object-fit: cover; } 



.footer { background: #333; color: #ddd; } 

.top_footer {background: #ddd; color: #333; padding: 20px 0 20px 0;}
.footer .footer_top { width: 1200px; margin: 0 auto; } 
.list { display: flex; gap: 30px; font-size: 15px; font-weight: 500; } 

.footer_middle {width: 1200px; margin: 0 auto; display: flex; gap: 350px; padding-top: 50px;}
.middle {font-size: 17px; margin-bottom: 60px;}
.about {margin-top: 20px; font-size: 15px;}
.about>li {margin-bottom: 10px; font-size: 13px;} 

.footer_bottom {margin:0 auto; width: 1200px; padding-bottom: 50px; 
    }
.logo {max-width: 150px; display: inline-block; margin-bottom: 15px;}
.copy {font-size: 11px;}